:host {
  display: block;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-width: 100vw;

  background-color: var(--dark-gray);

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 2em;
    padding-inline: 1.5em;
    padding-bottom: 1em;
    width: 100%;

    img {
      height: 2em;
      width: auto;
    }
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 90%;
    margin: 0 auto;

    p {
      margin-bottom: 2em;
      line-height: 2em;
      text-align: center;

      font-weight: 300;

      color: var(--lighter-gray);
    }
  }
}
