:host {
  display: block;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;

  max-width: 25%;
  margin: 0 auto;

  padding: 1em 0.5em;

  border-radius: 0.5em;

  background-color: var(--even-lighter-gray);
  -webkit-box-shadow: 0px 0px 4px 4px rgba(128, 128, 128, 0.2);
  -moz-box-shadow: 0px 0px 4px 4px rgba(128, 128, 128, 0.2);
  box-shadow: 0px 0px 4px 4px rgba(128, 128, 128, 0.2);

  span {
    font-weight: 700;
    font-size: 1em;
    color: var(--red);

    &.opened {
      color: var(--green);
    }
  }

  h3 {
    font-weight: 700;
    font-size: 1.5em;
    color: var(--dark-gray);
  }

  p {
    font-size: 1em;
    color: var(--light-gray-text);
  }

  .divider {
    width: 100%;
    background-color: var(--lighter-gray);
    height: 2px;
  }

  .icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    img {
      height: 4em;
    }
  }

  ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    li {
      display: flex;
      flex-direction: column;
      color: var(--dark-gray);
      font-size: 1em;
      gap: 0.5em;

      b {
        color: var(--dark-gray);
      }
    }
  }
}
