:host {
  display: block;
}

.card-list {
  max-width: 90%;
  margin: 0 auto;

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;

    li {
      list-style: none;
    }
  }
}
