<form action="" class="form-group" [formGroup]="formGroup">
  <div class="form-header">
    <img src="images/png/icon-hour.png" alt="Horário" />
    <span> Horário </span>
  </div>
  <div class="form-content">
    <div class="form-title">Qual período quer treinar?</div>
    <div class="form-line">
      <input
        type="radio"
        name="hour"
        formControlName="hour"
        value="morning"
      />
      <label for="hour">Manhã</label>
      <span>06:00 às 12:00</span>
    </div>
    <div class="form-line">
      <input
        type="radio"
        name="hour"
        formControlName="hour"
        value="afternoon"
      />
      <label for="hour">Tarde</label>
      <span>12:01 às 18:00</span>
    </div>
    <div class="form-line">
      <input
        type="radio"
        name="hour"
        formControlName="hour"
        value="night"
      />
      <label for="hour">Noite</label>
      <span>18:01 às 23:00</span>
    </div>
    <div class="form-summary">
      <div class="checkbox-wrapper">
        <input
          type="checkbox"
          name="show-closed-unit"
          id="show-closed-unit"
          formControlName="showClosed"
        />
        <label for="show-closed-unit">Exibir unidades fechadas</label>
      </div>
      <div class="results">
        <span>Resultados encontrados:</span>
        <span>{{ results().length }}</span>
      </div>
    </div>
  </div>
  <div class="form-footer">
    <button class="btn btn-primary" (click)="onSubmit()">
      Encontrar unidade
    </button>
    <button class="btn btn-secondary" (click)="onClean()">Limpar</button>
  </div>
</form>
